$breakpoint: 760px;
$color-icon: #cacaca;
$color-title: #444444;
.job-item {
  display: flex;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  font-family: 'Open Sans', sans-serif;
  user-select: none;
  .job-thumb {
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    img {
      width: 100%;
    }
    @media (max-width: $breakpoint) {
      width: 90px;
      height: 90px;
    }
  }

  .job-info {
    padding: 0 10px;
    .job-title {
      margin-bottom: 5px;
      .title {
        font-size: 18px;
        margin: 0;
        color: $color-title;
        @media (max-width: $breakpoint) {
          font-size: 15px;
        }

      }

    }

    .job-location {
      .icon {
        font-size: 20px;
        vertical-align: middle;
        color: $color-icon;
      }
      .text {
        font-size: 13px;
      }

    }

    .dates {
      .icon {
        font-size: 18px;
        line-height: 1.4em;
        vertical-align: middle;
        color: $color-icon;
      }
      .text {
        font-size: 13px;
      }

    }

  }

}
