@import '../../../assets/sass/variables';
.job-item {
  display: flex;
  margin-bottom: 20px;
  box-shadow: $container-shadow;
  font-family: 'Open Sans', sans-serif;
  user-select: none;
  cursor: pointer;
  @media (max-width: $breakpoint) {
    margin-bottom: 10px;
  }
  .job-thumb {
    flex-shrink: 0;
    width: 150px;
    height: 150px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: $image-shadow;
    img {
      width: 100%;
    }
    @media (max-width: $breakpoint) {
      width: 90px;
      height: 90px;
    }
  }

  .job-info {
    padding: 0 10px;
    .job-title {
      margin-bottom: 5px;
      .title {
        font-size: 18px;
        margin: 0;
        color: $color-title;
        @media (max-width: $breakpoint) {
          font-size: 15px;
        }

      }

    }

    .job-location {
      .icon {
        font-size: 20px;
        vertical-align: middle;
        color: $color-icon;
      }
      .text {
        font-size: 13px;
      }

    }

    .dates {
      .icon {
        font-size: 18px;
        line-height: 1.4em;
        vertical-align: middle;
        color: $color-icon;
      }
      .text {
        font-size: 13px;
      }

    }

  }

}
